/* css for down cont */

.MuiBox-root .flight {
  padding: 0;
}

.MuiBox-root .up-cont {
  background-color: white;
  border-radius: 0px 50px 50px 50px;
  padding: 60px 48px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.MuiBox-root .up-cont .country {
  display: flex;
  border: 2px solid rgba(172, 172, 172, 0.5);
  border-radius: 25px;
  align-items: center;
  padding: 44px 22px;
}

.MuiBox-root .up-cont .country .living,
.MuiBox-root .up-cont .country .going {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.country .living .MuiOutlinedInput-notchedOutline,
.country .going .MuiOutlinedInput-notchedOutline {
  border: none;
  padding: 0px;
}

.country .living button,
.country .going button {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}

.country .living button span svg,
.country .going button span svg {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}

.country .living .MuiInputBase-root,
.country .going .MuiInputBase-root {
  padding: 0px !important;
}

.country
  .living
  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot,
.country
  .going
  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot {
  padding-right: 0px;
}

.MuiBox-root .up-cont .country .living h5,
.MuiBox-root .up-cont .country .going h5 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 4px;
}

.up-cont .country .living .MuiFormLabel-root,
.up-cont .country .going .MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 24;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}

.up-cont .country .living .MuiInputLabel-animated,
.up-cont .country .going .MuiInputLabel-animated {
  font-size: 8px;
  color: #000000;
}


.MuiBox-root .up-cont .country .living input,
.MuiBox-root .up-cont .country .going input {
  outline: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  font-family: "poppins", sans-serif;
  color: #000000;
}

.MuiBox-root .up-cont .country .living input::placeholder,
.MuiBox-root .up-cont .country .going input::placeholder {
  color: #000000; 
}

.up-cont .country .living .MuiAutocomplete-inputRoot .MuiAutocomplete-input:first-child,
.up-cont .country .going .MuiAutocomplete-inputRoot .MuiAutocomplete-input:first-child {
  padding-left: 0px;
}

.MuiBox-root .up-cont .plane {
  margin: 0 20px;
}

.MuiBox-root .up-cont .plane div {
  padding: 8px 6px;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiBox-root .up-cont .plane i {
  color: #999999;
  font-size: 20px;
}

.MuiBox-root .up-cont .date {
  display: flex;
  border: 2px solid rgba(172, 172, 172, 0.5);
  border-radius: 25px;
  align-items: center;
  padding: 48px 22px;
}

.MuiBox-root .up-cont .date .leave,
.MuiBox-root .up-cont .date .return{
  max-width: 152px;
  width: 100%;
}

.MuiBox-root .up-cont .date .leave .ant-picker-clear span span.anticon{
  margin: 0 !important;
}

.MuiBox-root .up-cont .date .leave div span,
.MuiBox-root .up-cont .date .return div span {
  font-family: "poppins", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-right: 8px;
}

.MuiBox-root .up-cont .date .leave div i,
.MuiBox-root .up-cont .date .return div i {
  color: rgba(62, 134, 245, 0.8);
  font-size: 18px;
}

.MuiBox-root .up-cont .date .leave .ant-space .anticon svg,
.MuiBox-root .up-cont .date .return .ant-space .anticon svg {
  display: inline-block;
  height: 0;
  width: 0px;
}

.MuiBox-root .up-cont .date .leave .ant-space .ant-picker,
.MuiBox-root .up-cont .date .return .ant-space .ant-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 0 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: "poppins", sans-serif;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #ffffff;
  border-radius: 6px;
  transition: border 0.2s, box-shadow 0.2s;
  border: none;
  outline: none !important;
}

.MuiBox-root .up-cont .date .leave .ant-space .ant-picker:focus,
.MuiBox-root .up-cont .date .return .ant-space .ant-picker:focus{
  outline: none;
  border: none;
}

.MuiBox-root
  .up-cont
  .date
  .leave
  .ant-space
  .ant-picker
  .ant-picker-input
  input,
.MuiBox-root
  .up-cont
  .date
  .return
  .ant-space
  .ant-picker
  .ant-picker-input
  input {
  border: none;
  outline: none !important;
  font-family: "poppins", sans-serif;
  color: #000000;
  font-size: 22px;
  font-weight: 500;
}

.MuiBox-root
  .up-cont
  .date
  .leave
  .ant-space
  .ant-picker
  .ant-picker-input
  input:focus,
.MuiBox-root
  .up-cont
  .date
  .return
  .ant-space
  .ant-picker
  .ant-picker-input
  input:focus {
  border: none;
  outline: none !important;
}

.MuiBox-root .up-cont .date .calender {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
}

.MuiBox-root .up-cont .date .calender div {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.MuiBox-root .up-cont .date .calender div i {
  color: rgba(0, 0, 0, 0.5);
}

.MuiBox-root .up-cont .search button {
  background-color: rgba(62, 134, 245, 0.8);
  color: #fff;
  padding: 48px;
  border-radius: 65px;
}
