/* css for down cont */
.bookings {
  margin-top: -60px;
  margin-bottom: 160px;
}

.bookings .css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}

.bookings .css-heg063-MuiTabs-flexContainer {
  display: flex;
  align-items: center;
  max-width: 280px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24px;
  border-radius: 25px 25px 0px 0px;
  background-color: white;
}

.bookings .MuiPaper-root {
  background-color: transparent !important;
  color: black;
}

.bookings .css-heg063-MuiTabs-flexContainer .flights {
  padding: 15px 20px;
  border-radius: 25px;
  background-color: transparent;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  opacity: 100%;
}

.bookings .MuiPaper-root .hotels {
  padding: 15px 20px;
  border-radius: 25px;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  opacity: 100%;
}

.bookings .MuiPaper-root .css-11yukd5-MuiTabs-indicator {
  background-color: transparent;
}