.team .card-container .card {
  background-color: #fff;
  padding: 24px;
  border-radius: 50px;
  max-width: 380px;
  width: 100%;
  position: relative;
}

.team .card-container .card .img-container{
  display: flex;
  align-items: center;

}

.team .card-container .card .img-container h4 {
  transform: rotate(90deg);
  color: rgba(0, 0, 0, 0.5);
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5em;
  position: absolute;
  right: -68px;
}

.card-container .card .days {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-container .card .days button {
  background-color: #fcddec;
  border-radius: 100px;
  font-family: "poppins", sans-serif;
  color: #f178b6;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 0 16px;
  margin-right: 12px;
}

.card-container .card .days span {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}

.card-container .card h3 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
}

.card-container .card .price h4 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: black;
}

.card-container .card .price span {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

.card-container .card .price button {
  font-family: "poppins", sans-serif;
  color: #3e86f5;
  padding: 12px 18px;
  background: #f2f6ff;
  border-radius: 10px;
}
