.navigation {
  padding: 42px 0;
}

.navigation .logo {
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  font-family: "poppins", sans-serif;
  color: #fff;
}

.navigation .quick-links a {
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  font-family: "poppins", sans-serif;
  color: #fff;
}

.navigation .quick-links button{
   background-color: #fff;
   color: #fff;
   padding: 14px 44px;
   font-size: 24px;
   border-radius: 10px;
   color: #3E86F5;
}
