.slick-slider {
  margin-top: 200px;
  padding: 40px;
}

.slick-slider .t-card {
  background-color: #fff;
  border-radius: 50px;
  max-width: 590px;
  padding: 0 46px;
}

.slick-slider .t-card img.quote {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 220px;
  top: 36px;
}

.slick-slider .t-card p {
  color: #000000;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  padding-top: 84px;
}

.slick-slider .t-card h6 {
  text-align: center;
  color: #3e86f5;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  margin-top: 10px;
}

.slick-slider .t-card h5 {
  text-align: center;
  font-family: "poppins", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  margin-top: 2px;
  padding-bottom: 80px;
}

.slick-slider .img-back {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 78px;
  right: 26px;
  height: 150px;
  width: 176px;
  background-color: #fff;
  border-radius: 50%;
}

.slick-slider .img-back img {
  height: 100px;
}

.t-rate {
  background-color: #fff;
  padding: 2px 10px;
  max-width: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  top: -200px;
  left: 326px;
  position: relative;
}

.t-rate i {
  color: #f8ce01;
  font-size: 15px;
}

.t-rate span {
  color: #000000;
  margin-left: 2px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.slick-slider .slick-prev {
  position: relative;
  top: 618px;
  left: 558px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(62, 134, 245, 0.5);
  border-radius: 15px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #3e86f5;
  z-index: 1;
}

.slick-slider .slick-prev::before {
  position: absolute;
  right: 7.8px;
  top: 18px;
  border-radius: 15px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #3e86f5;
}

.slick-slider .slick-next {
  position: relative;
  top: -22px;
  left: 670px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(62, 134, 245, 0.5);
  border-radius: 15px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #3e86f5;
}

.slick-slider .slick-next::before {
  position: absolute;
  right: 7.8px;
  top: 18px;
  border-radius: 15px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #3e86f5;
}

.testimonial .slick-slider .slick-prev .slide .left {
  border: 2px solid rgba(62, 134, 245, 0.5);
  border-radius: 15px;
  margin-right: 20px;
}

.testimonial .slick-slider .slick-prev .slide .left i {
  color: #3e86f5;
  font-size: 20px;
  padding: 10px 14px;
}

.testimonial .slick-slider .slick-prev .slide .right {
  border: 2px solid rgba(62, 134, 245, 0.5);
  border-radius: 15px;
  margin-right: 20px;
}

.testimonial .slick-slider .slick-prev .slide .right i {
  color: #3e86f5;
  font-size: 20px;
  padding: 10px 14px;
}
